name: Test Incoming Changes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  basic-check:
    name: Build, Lint, Vet
    runs-on: ubuntu-24.04

    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: 1.22.3

      - name: Disable default go problem matcher
        run: echo "::remove-matcher owner=go::"

      - name: Check out code into the Go module directory
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          ref: ${{ github.sha }}

      # TODO: golangci-lint team recommends using a GitHub Action to perform golangci-lint responsibilities.  However
      # there does not appear to be a way to honor our existing .golangci.yml.  For now, mimic developer behavior.
      - name: Install golangci-lint
        run: make install-lint

      - name: make build-oct
        run: make build-oct

      - name: make lint
        run: make lint

      - name: make vet
        run: make vet

      - name: Run endpoint verification script
        run: |
          ./scripts/curl-endpoints.sh
